<p id="notice"><%= notice %></p>

<p>
  <strong>Asignaturas:</strong>
  <%= @matricula.asignaturas_id %>
</p>

<p>
  <strong>Alumnos:</strong>
  <%= @matricula.alumnos_id %>
</p>

<%= link_to 'Edit', edit_matricula_path(@matricula) %> |
<%= link_to 'Back', matriculas_path %>
