<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @profesore.nombre %>
</p>

<p>
  <strong>Apellido:</strong>
  <%= @profesore.apellido %>
</p>

<p>
  <strong>Num tlf:</strong>
  <%= @profesore.num_tlf %>
</p>

<p>
  <strong>Email:</strong>
  <%= @profesore.email %>
</p>

<p>
  <strong>Pass:</strong>
  <%= @profesore.pass %>
</p>

<%= link_to 'Edit', edit_profesore_path(@profesore) %> |
<%= link_to 'Back', profesores_path %>
