<!DOCTYPE html>
<html>
  <head>
    <title>DS6</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= link_to "Profesores", root_path %>
    <%= link_to "Alumnos", :alumnos %>
    <%= link_to "Administrador", :administradors %>
    <%= link_to "Asignaturas", :asignaturas %>
    <%= link_to "Matriculas", :matriculas %>
    <%= link_to "Examenes", :examenes %>
    <%= link_to "Nota", :nota %>

    <%= link_to 'Descargar App', asset_path('/app/assets/apks/flutter.apk') %>
    <%= yield %>
  </body>
</html>
