<!DOCTYPE html>
<html>
  <head>
    <title>DS6</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <div class="menu"><%= link_to "Profesores", root_path %></div>
      <div class="menu"><%= link_to "Alumnos", :students %></div>
      <div class="menu"><%= link_to "Administrador", :administrators %></div>
      <div class="menu"><%= link_to "Asignaturas", :subjects %></div>
      <div class="menu"><%= link_to "Matriculas", :enrollments %></div>
      <div class="menu"><%= link_to "Examenes", :exams %></div>
      <div class="menu"><%= link_to "Nota", :notes %></div>

      <div class="descarga"><%= link_to 'Descargar App', asset_path('/app/assets/apks/flutter.apk') %></div>
    </header>
    <div id="cuerpo">
      <%= yield %>
    </div>
  </body>
</html>
