<p id="notice"><%= notice %></p>

<p>
  <strong>Student:</strong>
  <%= @note.student_id %>
</p>

<p>
  <strong>Exam:</strong>
  <%= @note.exam_id %>
</p>

<p>
  <strong>Note:</strong>
  <%= @note.note %>
</p>

<p>
  <strong>Photo:</strong>
  <%= @note.photo %>
</p>

<%= link_to 'Edit', edit_note_path(@note) %> |
<%= link_to 'Back', notes_path %>
