<%= form_with(model: nota) do |form| %>
  <% if nota.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(nota.errors.count, "error") %> prohibited this nota from being saved:</h2>

      <ul>
        <% nota.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :alumnos_id %>
    <%= form.text_field :alumnos_id %>
  </div>

  <div class="field">
    <%= form.label :examenes_id %>
    <%= form.text_field :examenes_id %>
  </div>

  <div class="field">
    <%= form.label :nota %>
    <%= form.number_field :nota %>
  </div>

  <div class="field">
    <%= form.label :foto %>
    <%= form.text_field :foto %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
