<p id="notice"><%= notice %></p>

<h1>Nota</h1>

<table>
  <thead>
    <tr>
      <th>Alumnos</th>
      <th>Examenes</th>
      <th>Nota</th>
      <th>Foto</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @nota.each do |nota| %>
      <tr>
        <td><%= nota.alumnos_id %></td>
        <td><%= nota.examenes_id %></td>
        <td><%= nota.nota %></td>
        <td><%= link_to 'Descargar', nota, method: :descargar%></td>
        <td><%= nota.foto %></td>
        <td><%= link_to 'Show', nota %></td>
        <td><%= link_to 'Edit', edit_nota_path(nota) %></td>
        <td><%= link_to 'Destroy', nota, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Nota', new_nota_path %>
