<p id="notice"><%= notice %></p>

<p>
  <strong>Alumnos:</strong>
  <%= @notum.alumnos_id %>
</p>

<p>
  <strong>Examenes:</strong>
  <%= @notum.examenes_id %>
</p>

<p>
  <strong>Nota:</strong>
  <%= @notum.nota %>
</p>

<p>
  <strong>Foto:</strong>
  <%= @notum.foto %>
</p>

<%= link_to 'Edit', edit_notum_path(@notum) %> |
<%= link_to 'Back', nota_path %>
