<p id="notice"><%= notice %></p>

<p>
  <strong>Alumnos:</strong>
  <%= @nota.alumnos_id %>
</p>

<p>
  <strong>Examenes:</strong>
  <%= @nota.examenes_id %>
</p>

<p>
  <strong>Nota:</strong>
  <%= @nota.nota %>
</p>

<p>
  <strong>Foto:</strong>
  <%= @nota.foto %>
</p>

<%= link_to 'Edit', edit_nota_path(@nota) %> |
<%= link_to 'Back', nota_path %>
