<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @examene.nombre %>
</p>

<p>
  <strong>Fecha:</strong>
  <%= @examene.fecha %>
</p>

<p>
  <strong>Asignaturas:</strong>
  <%= @examene.asignaturas_id %>
</p>

<%= link_to 'Edit', edit_examene_path(@examene) %> |
<%= link_to 'Back', examenes_path %>
